{% extends 'base.html' %}

{% block content %}

<main class="content py-5">
<section class="card card-body">

<h1 style="color: blue; text-align: center;" class="display-1">Django App</h1>
<p style="text-align: center;color: green;background-color: yellow;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident voluptatum omnis excepturi magnam illum voluptates consequatur hic nemo minus incidunt quibusdam, voluptate blanditiis officiis id odit dolorem beatae repellat at molestias nam quaerat ad! Minima at quae voluptates consequatur atque debitis cum sunt, iusto sapiente odit dolor sed minus quaerat. Similique aspernatur dicta quibusdam nesciunt fugiat, itaque temporibus. Ullam recusandae eaque minus mollitia illo repellat saepe id, praesentium doloribus maxime atque ipsam hic repudiandae aliquid. Vero illo modi tempore sequi dignissimos deserunt ab distinctio laudantium, dolorum porro animi consectetur atque, est consequuntur esse accusantium, praesentium explicabo velit cumque eos ratione.</p>
<div class="text-center">
<a href="/signin/" class="btn btn-secondary ">Signin</a>
<a href="/signup/" class="btn btn-dark ">SignUp</a>
</div>

</section>
</main>

{% endblock %}