{% extends 'base.html' %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">

            <h2 style="color: blue;background-color: yellow;font-size: 30px;width: 610px;">{{ error }}</h2>
            <h1 class="text-secondary py-3">{{ task.title }}</h1>
            
                <form method="POST">

                    {% csrf_token %}

                    {{ form.as_p }}

                    <button class="btn btn-primary">
                        Update
                    </button>
                </form>
            <div class="mt-5 d-flex">
                <form action='{% url "complete_task" task.id %}' method="POST">
                    {% csrf_token %}

                    <button class="btn btn-secondary">
                        Complete
                    </button>
                </form>

                <form action='{% url "delete_task" task.id %}' method="POST">

                    {% csrf_token %}

                    <button class="btn btn-danger">
                        Delete
                    </button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}